# Absolute paths to local repositories (use forward slashes on Windows)
DPM_REPO_PATH=c:/Users/Sandeep/projects/lotus-manage
PAS_REPO_PATH=c:/Users/Sandeep/projects/lotus-core
PA_REPO_PATH=c:/Users/Sandeep/projects/lotus-performance
RAS_REPO_PATH=c:/Users/Sandeep/projects/lotus-report
BFF_REPO_PATH=c:/Users/Sandeep/projects/lotus-gateway
UI_REPO_PATH=c:/Users/Sandeep/projects/lotus-workbench

# Host ports
DPM_PORT=8000
PAS_INGESTION_PORT=8200
PAS_QUERY_PORT=8201
PA_PORT=8002
RAS_PORT=8300
BFF_PORT=8100
UI_PORT=3000
PROMETHEUS_PORT=9190
GRAFANA_PORT=3300
OTEL_GRPC_PORT=4317
OTEL_HTTP_PORT=4318

# lotus-core database
PAS_POSTGRES_DB=portfolio_db
PAS_POSTGRES_USER=user
PAS_POSTGRES_PASSWORD=password
